.mapboxgl-popup-content {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}

.mapboxgl-popup-close-button {
  font-size: 25px;
  color: #b5b5b5;
}

.map {
  &__popup-content {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__copy {
    background-color: #5cd18d;
    color: #fff;
    border-radius: 3px;
    padding: 2px 10px;
    width: max-content;
    font-size: 12px;

    &:hover {
      background-color: #4aac73;
    }
  }

  &__place {
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 3px;
  }

  &__time {
    margin-bottom: 25px;
    font-size: 13px;
    color: #ababab;
  }

  &__driver {
    font-size: 18px;
    font-weight: 600;
  }
}