{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "requireConfigFile": false
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0
  }
}